/node_modules
d3_visualizations/simple_nn_epoch_sorted.json
/d3_visualizations/simple_nn_epoch_sorted.json
notebooks/libraries/__pycache__
notebooks/.ipynb_checkpoints
notebooks/libraries/predict_LR_extended.json
notebooks/libraries/predict_nn.json
notebooks/libraries/stored_results/
src/assets/components/barcode_visualization/barcodes.json
