.box_highlighted {
  background-color: #ffb;
  border: 1px solid #b53;
}
.highlight {
  background-color: yellow;
}
.lighthigh {
  background-color: green;
}
#testList {
  /* List in data Section */
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
li.dataPoint {
  font-size: smaller;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
li.dataPoint.clicked {
  overflow: visible;
  white-space: normal;
}
li.dataPoint:nth-child(odd) {
  /* Alternating list item color */
  background: #a0a0a4;
}
table.xaxis {
  /* X-axis of table */
  table-layout: auto;
  width: 750px;
  margin-left: 26px !important;
  text-align: center;
}
td.xlabel {
  text-align: center;
}
table.yaxis {
  /* Y-axis of table */
  float: left;
  display: inline;
  height: 750px;
  writing-mode: sideways-lr;
}
td.ylabel {
  text-align: center;
}
#review {
  /* Data Section */
  border: 1px solid blue;
  padding: 5px;
  float: left;
  width: 750px;
  height: 500px;
  background-color: white;
  margin: 20px;
  overflow: scroll;
}
#matrix {
  border: 1px solid blue;
  padding: 5px;
  float: left;
  width: 750px;
  display: inline;
}
#slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4ca2af;
  cursor: pointer;
}
#slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4ca2af;
  cursor: pointer;
}
