#myInput {
  /* background-image: url('/css/searchicon.png'); Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 14px; /* Increase font-size */
  padding: 1%;
  border: 1px solid #ddd; /* Add a grey border */
  margin: 1%;
}

.tables > #sample {
  margin: 2%;
}

.cosinesim {
  max-width: 100%;
}

.sent {
  max-width: 700px;
  white-space: nowrap;
  overflow: scroll;
}

#container {
  padding-left: 3%;
  background-color: #ffffff;
  height: 150px;
  width: auto;
  border: 1px solid black;
  border-radius: 3px;
  margin-bottom: 1%;
}

.left {
  margin-right: 15px;
  float: left;
  text-align: center;
}

.center {
  text-align: center;
}

#highlighted {
  background-color: #aec6cfff;
  white-space: normal;
  stroke-width: 1px;
  stroke: black;
  overflow: visible;
}

tr > .cosinesim {
  padding: 0 2%;
}

td {
  min-width: 5px;
}
