.box_highlighted {
  background-color: #ffb;
  border: 1px solid #b53;
}
td {
  min-width: 100px;
}

#review {
  align-items: center;
  display: flex;
  flex-direction: column;
  border: 1px solid pink;
  padding: 5px;
  width: 750px;
  height: 500px;
  background-color: white;
  margin: 20px;
  overflow: scroll;
}

#matrix {
  border: 1px solid pink;
  padding: 5px;
  float: left;
  margin: 20px;
}

#slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4ca2af;
  cursor: pointer;
}
#slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4ca2af;
  cursor: pointer;
}
