.box_highlighted {
  background-color: #ffb;
  border: 1px solid #b53;
}
td {
  min-width: 100px;
}

#review {
  align-items: center;
  display: flex;
  flex-direction: column;
  border: 1px solid pink;
  padding: 5px;
  width: 750px;
  height: 500px;
  background-color: white;
  margin: 20px;
  overflow: scroll;
}

#matrix {
  border: 1px solid pink;
  padding: 5px;
  float: left;
  margin: 20px;
}

#slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4ca2af;
  cursor: pointer;
}
#slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4ca2af;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 72px;
  transition: 0.5s;
}

.navbar h3 {
  margin: 3%;
}

.link {
  margin: 10%;
  padding: 10px 15px;
  text-decoration: none;
  transition-duration: 0.3s;
  border-radius: 3px;
}

.popLink {
  background-color: #f5f8fa44;
  margin: 1% 3%;
  padding: 30px 15px;
  text-decoration: none;
  transition-duration: 0.5s;
  border-radius: 3px;
}

.popLink:hover {
  border-radius: 30px;
  background-color: white;
  transform: translateY(-4px);
}

.link:hover {
  transform: translateY(-4px);
  box-shadow: 0 0px 3px #00000044;
}

.popoverContent {
  font-size: medium;
  background-color: #f5f8fa;
  display: flex;
  flex-direction: column;
}
